{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{%static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/plyr.css' %}">
	<link rel="stylesheet" href="{%static 'css/photoswipe.css' %}">
	<link rel="stylesheet" href="{%static 'css/default-skin.css' %}">
	<link rel="stylesheet" href="{%static 'css/main.css' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Bhavana">
	<title>Do_Recommand</title>

</head>
<body class="body">
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="{% url 'home' %}" class="header__logo">
								<img src="{%static 'img\logo.svg' %}" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								{% if user.is_authenticated %}
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, {{user.first_name}}!</a>
								</li>
								{% else %}
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, Please Login</a>
								</li>
								{% endif %}
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								{% if user.is_authenticated %}
								<li class="header__nav-item">
									<a href="{% url 'logout' %}">Logout</a>
								</li>
								{% endif %}
								<a href="{% url 'signup' %}" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign up</span>
								</a>
							</div>
							<!-- end header auth -->

						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
	<!-- end header -->

	<!-- home -->
	<section class="home">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form action="{% url 'searchbar' %}" method="get" class="header__search">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div 
									class="header__search-content">
										<input name="search" placeholder="Search for a movie, TV Series that you are looking for">
										<button type="submit">search</button>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">MOVIES</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">ALL</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">GENRES</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">KIDS</a>
							</li>

						</ul>
						<!-- end content tabs nav -->

					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<!-- content tabs -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
					<div class="row">
						{% for m in mov %}
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{m.img.url}}" alt="" height="250px" width="200px">
											<a href="#" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
											<span class="card__category">
												<a href="#">{{m.genre1}}</a>
												<a href="#">{{m.genre2}}</a>
												<a href="#">{{m.genre3}}</a>
											</span>
											<div class="card_time">
												<a href="#">{{m.runtime}} min</a>
											</div>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>

												<ul class="card__list">
													<li>HD</li>
													<li>{{m.age}}+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>{{m.overview}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- end card -->
					</div>
				</div>
			
				<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
					<div class="row">
						<div class="col-12">
							<div class="nested-tab">
								<!-- content tabs of tab 2 -->
								<ul class="nav nav-tabs genre_tabs" id="genre_tabs" role="tablist">
									<li style="display:inline" class="nav-item">
											<a href="#genre1" class="nav-link" data-toggle="tab" role="tab" >Action/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre2" class="nav-link" data-toggle="tab" role="tab">Adventure/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre3" class="nav-link" data-toggle="tab" role="tab">Comedy/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre4" class="nav-link active" data-toggle="tab" role="tab">Sci-Fi/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre5" class="nav-link" data-toggle="tab" role="tab">Fantasy/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre6" class="nav-link" data-toggle="tab" role="tab">Family/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre7" class="nav-link active" data-toggle="tab" role="tab">Animation/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre8" class="nav-link" data-toggle="tab" role="tab">Romance/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre9" class="nav-link" data-toggle="tab" role="tab">Drama/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre10" class="nav-link active" data-toggle="tab" role="tab">Horror/</a>
									</li>
									<li style="display:inline" class="nav-item">
											<a href="#genre11" class="nav-link" data-toggle="tab" role="tab">Mystery/</a>
									</li>
									<li style="display:inline" class="nav-item">
										<a href="#genre12" class="nav-link" data-toggle="tab" role="tab">Triller</a>
								</li>
								</ul>
								<div class="nested-tab-content" id="nestedTanContent">
									<div class="tab-pane fade" id="genre1" role="tabpanel" aria-labelledby="genre1">
										<br/><center><h1 style="color:white">ACTION MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Action" or m.genre2 == "Action" or m.genre3 == "Action" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">  
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>  
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre2" role="tabpanel" aria-labelledby="genre2">
										<br/>
											<center><h1 style="color:white">ADVENTURE MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Adventure" or m.genre2 == "Adventure" or m.genre3 == "Adventure" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
									</div>
									</div>
									<div class="tab-pane fade" id="genre3" role="tabpanel" aria-labelledby="genre3">
										<br/>
											<center><h1 style="color:white">COMEDY MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Comedy" or m.genre2 == "Comedy" or m.genre3 == "Comedy" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre4" role="tabpanel" aria-labelledby="genre4">
										<br/>
											<center><h1 style="color:white">SCI-FI MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Sci-fi" or m.genre2 == "Sci-Fi" or m.genre3 == "Sci-Fi" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre5" role="tabpanel" aria-labelledby="genre5">
										<br/>
											<center><h1 style="color:white">FANTASY MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Fantasy" or m.genre2 == "Fantasy" or m.genre3 == "Fantasy" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre6" role="tabpanel" aria-labelledby="genre6">
										<br/>
											<center><h1 style="color:white">FAMILY MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Family" or m.genre2 == "Family" or m.genre3 == "Family" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre7" role="tabpanel" aria-labelledby="genre7">
										<br/>
											<center><h1 style="color:white">ANIMATION MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Animation" or m.genre2 == "Animation" or m.genre3 == "Animation" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre8" role="tabpanel" aria-labelledby="genre8">
										<br/>
											<center><h1 style="color:white">ROMANCE MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Romance" or m.genre2 == "Romance" or m.genre3 == "Romance" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre9" role="tabpanel" aria-labelledby="genre9">
										<br/>
											<center><h1 style="color:white">DRAMA MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Drama" or m.genre2 == "Drama" or m.genre3 == "Drama" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre10" role="tabpanel" aria-labelledby="genre10">
										<br/>
											<center><h1 style="color:white">HORROR MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Horror" or m.genre2 == "Horror" or m.genre3 == "Horror" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre11" role="tabpanel" aria-labelledby="genre11">
										<br/>
											<center><h1 style="color:white">MYSTERY MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Mystery" or m.genre2 == "Mystery" or m.genre3 == "Mystery" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="tab-pane fade" id="genre12" role="tabpanel" aria-labelledby="genre12">
										<br/>
											<center><h1 style="color:white">TRILLER MOVIES</h1></center><br/>
										<div class="row">
											{% for m in mov %}
											{% if m.genre1 == "Triller" or m.genre2 == "Triller" or m.genre3 == "Triller" %}
											<!-- card -->
											<div class="col-6 col-sm-12 col-lg-6">
												<div class="card card--list">
													<div class="row">
														<div class="col-12 col-sm-4">
															<div class="card__cover">
																<img src="{{m.img.url}}" alt="" height="250px" width="200px">
																<a href="#" class="card__play">
																	<i class="icon ion-ios-play"></i>
																</a>
															</div>
														</div>
							
														<div class="col-12 col-sm-8">
															<div class="card__content">
																<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
																<span class="card__category">
																	<a href="#">{{m.genre1}}</a>
																	<a href="#">{{m.genre2}}</a>
																	<a href="#">{{m.genre3}}</a>
																</span>
																<div class="card_time">
																	<a href="#">{{m.runtime}} min</a>
																</div>
							
																<div class="card__wrap">
																	<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>
							
																	<ul class="card__list">
																		<li>HD</li>
																		<li>{{m.age}}+</li>
																	</ul>
																</div>
							
																<div class="card__description">
																	<p>{{m.overview}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
							
				<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
					<div class="row">

						{% for m in mov %}
						{% if m.age < 12 or m.genre1 == "Animation" or m.genre2 == "Animation" or m.genre3 == "Animation" %}
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{m.img.url}}" alt="" height="250px" width="200px">
											<a href="#" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#">{{m.title}}</a></h3>
											<span class="card__category">
												<a href="#">{{m.genre1}}</a>
												<a href="#">{{m.genre2}}</a>
												<a href="#">{{m.genre3}}</a>
											</span>
											<div class="card_time">
												<a href="#">{{m.runtime}} min</a>
											</div>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>{{m.rating}}</span>

												<ul class="card__list">
													<li>HD</li>
													<li>{{m.age}}+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>{{m.overview}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% endfor %}
						<!-- end card -->
					</div>
				</div>
		</div>

		</div>
			<!-- end content tabs -->
			
		</div>
	</section>
	<!-- end content -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-md-3">
					<h1 class="footer__title">DO_RECOMMAND</h1>
					<ul class="footer__app">
						<li><a href="{% url 'home' %}"><img src="{%static 'img\logo.svg' %}" alt=""></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Resources</h6>
					<ul class="footer__list">
						<li><a href="{% url 'home' %}">About Us</a></li>
						<li><a href="{% url 'home' %}">Help</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Legal</h6>
					<ul class="footer__list">
						<li><a href="{% url 'home' %}">Terms of Use</a></li>
						<li><a href="{% url 'home' %}">Privacy Policy</a></li>
						<li><a href="{% url 'home' %}">Security</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="{% url 'home' %}">Bhavana Kalivemula</a></li>
					</ul>
					<address>
						<a href="mailto:kalivemulabhavana123@gmail.com">Gmail</a>.<br>
					</address>
					<ul class="footer__social">
						<li class="github"><a href="https://github.com/bhavana2003/movie-recommendation/tree/main"><i class="icon ion-logo-github"></i></a></li>
						<li class="facebook"><a href="https://www.facebook.com/bhavana.kalivemula.3/"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="https://www.instagram.com/_bhavana_029/"><i class="icon ion-logo-instagram"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
						<ul>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{%static 'js/owl.carousel.min.js' %}"></script>
	<script src="{%static 'js/jquery.mousewheel.min.js' %}"></script>
	<script src="{%static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{%static 'js/wNumb.js' %}"></script>
	<script src="{%static 'js/nouislider.min.js' %}"></script>
	<script src="{%static 'js/plyr.min.js' %}"></script>
	<script src="{%static 'js/jquery.morelines.min.js' %}"></script>
	<script src="{%static 'js/photoswipe.min.js' %}"></script>
	<script src="{%static 'js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{%static 'js/main.js' %}"></script>
</body>

</html>